body{ 
    font-family: arial, helvetica, sans-serif;
    font-size: 18pt;
}


.one{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;

}
.hide{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;

}

.code1{
    float:right;
    width: 50%;
    overflow: hidden;
}

.two{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
   margin-bottom: 25px;

}

.alert{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: green;

}
.code2{
    float:right;
    width: 50%;
    overflow: hidden;
}

.three{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;

}
.color{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;

}

.code3{
    float:right;
    width: 50%;
    overflow: hidden;
}

.four{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;

}
.idk{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;

}

.code4{
    float:right;
    width: 50%;
    overflow: hidden;
}
