body{ 
    font-family: arial, helvetica, sans-serif;
    font-size: 18pt;
}

.boxes{
     overflow: hidden;
}
.one{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;
    overflow: hidden;

}
.hide{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
     overflow: hidden;

}

.code1{
    float:right;
    width: 50%;
    overflow: hidden;
}

.two{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
   margin-bottom: 25px;
    overflow: hidden;

}

.alert{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: green;
     overflow: hidden;

}
.code2{
    float:right;
    width: 50%;
    overflow: hidden;
}

.three{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;
     overflow: hidden;

}
.color{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
     overflow: hidden;

}

.code3{
    float:right;
    width: 50%;
    overflow: hidden;

}

.four{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;
     overflow: hidden;

}
.idk{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
     overflow: hidden;

}

.code4{
    float:right;
    width: 50%;
    overflow: hidden;
}

.five{
    width:80%;
    height: 40%;
    display: block;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 25px;
     overflow: hidden;

}
.sound{
    float:left;
    width:50%;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
     overflow: hidden;

}

.code5{
    float:right;
    width: 50%;
    overflow: hidden;
}
